<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ASSIGNMENT 3</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="./index.js">
    <script src="./index.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Cloud Object Storage</h1>
<h2>PROJECT :INVENTORY MANAGEMENT SYSTEM FOR RETAILERS</h2>
<h2>NAME    :SIVASANKAR MANIKANDAN.M(820319104040)</h2>
 
 
  


   

    <img src="https://inventorymanagement11.s3.jp-tok.cloud-object-storage.appdomain.cloud/sam2.jpg">
 <img src="https://inventorymanagement11.s3.jp-tok.cloud-object-storage.appdomain.cloud/sam5.png">

   <img src="https://inventorymanagement11.s3.jp-tok.cloud-object-storage.appdomain.cloud/sam1.png">
   
<img src="https://inventorymanagement11.s3.jp-tok.cloud-object-storage.appdomain.cloud/sam4.jpg">
<img src="https://inventorymanagement11.s3.jp-tok.cloud-object-storage.appdomain.cloud/sam3.jpg">
   <script>
  window.watsonAssistantChatOptions = {
    integrationID: "ec7ec895-1935-4964-81c8-09aa0e7e8a1f", // The ID of this integration.
    region: "eu-gb", // The region your integration is hosted in.
    serviceInstanceID: "bb92e8c6-77d8-4b0e-b4d5-a9efc7af37bd", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
</body>
</html>